{* This is the welcome page, you can delete it *}

{block content}
<h1>Lul</h1>

{control form}

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>